.group-danny {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-top: -6%;

    @media #{$medium-and-up} {
      justify-content: space-between;
    }
  
    .absolute {
      padding-top: 42%;
      @media #{$medium-and-up} {
      }
    }
  }
  
  .art-danny {
    max-width: 53%;
    right: -6%;
    margin-top: 2%;
  
    @media #{$medium-and-up} {
      right: initial;
      max-width: 50%;
      left: -1%;
      margin-top: 10%;
    }
  }
  
  .quote-danny {
    position: relative;
    padding-right: 2%;
    margin-top: 17%;
    max-width: 60%;
    margin-bottom: 5%;
    margin-left: 2%;
  
    @media #{$medium-and-up} {
      margin-left: initial;
      margin-top: 10%;
    }
  }
  