
.group-bradman {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  .absolute {
    padding-top: 100%;
    @media #{$medium-and-up} {
    }
  }
}

/* Elements */

.quote-helo {
    max-width: 57%;
    margin-top: 0%;
    left: 2%;

    @media #{$medium-and-up} {
    }
}

.quote-bradman {
    max-width: 50%;
    margin-top: 47%;
    left: 10%;

    @media #{$medium-and-up} {
    }
}

.quote-phay {
    max-width: 30%;
    margin-top: 29%;
    right: 2%;

    @media #{$medium-and-up} {
    }
}

.art-bradman {
    max-width: 24%;
    margin-top: 26%;
    left: 0;
    
    @media #{$medium-and-up} {
    }
}

.art-minionsart {
    max-width: 21%;
    margin-top: 15%;
    left: 36%;
    
    @media #{$medium-and-up} {
    }
}

.art-mewdokas {
    max-width: 30%;
    margin-top: 46%;
    right: 2%;

    @media #{$medium-and-up} {
    }
}

.art-osidinum {
    max-width: 31%;
    margin-top: 0%;
    right: 0;
    margin-top: -17%;

    @media #{$medium-and-up} {
    }
}

.art-ingoodjesst {
    max-width: 40%;
    margin-top: 54%;
    left: 0%;

    @media #{$medium-and-up} {
    }
}

.quote-ingoodjesst {
    position: relative;
    max-width: 42%;
    margin-top: 72%;
    margin-left: 30%;

    @media #{$medium-and-up} {
    }
}
