.group-silkira {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  .absolute {
    padding-top: 80%;
    @media #{$medium-and-up} {
    }
  }
}

/* Elements */

.quote-quail {
  max-width: 58%;
  left: 2%;
  margin-top: 9%;

  @media #{$medium-and-up} {
  }
}

.quote-dreamnomming {
  position: relative;
  margin-left: 2%;
  margin-top: 79%;
  max-width: 57%;

  @media #{$medium-and-up} {
  }
}

.quote-puppies {
  right: 4%;
  margin-top: 48.5%;
  max-width: 49%;

  @media #{$medium-and-up} {
  }
}

.art-silkira {
  // max-width: 50%;
  // right: -1%;
  // margin-top: 0%;

  max-width: 47%;
  left: 7%;
  margin-top: 16%;

  @media #{$medium-and-up} {
  }
}

.art-eryn {
  max-width: 40%;
  right: 0%;
  margin-top: 3%;

  @media #{$medium-and-up} {
  }
}

.art-paranoodles {
  max-width: 25%;
  right: 11%;
  margin-top: 69%;

  @media #{$medium-and-up} {
  }
}