.group-max {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  //   margin-top: 20px;
  //   border-top: 1px solid black;

  .absolute {
    padding-top: 60%;
    @media #{$medium-and-up} {
    }
  }
}

.art-max {
  max-width: 37%;
  left: -2%;
  padding-top: 13%;

  @media #{$medium-and-up} {
  }
}

.art-boba {
  max-width: 31%;
  left: 32%;
  padding-top: 25%;

  @media #{$medium-and-up} {
  }
}

.quote-max {
  max-width: 55%;
  left: 2%;
  padding-top: 9%;

  @media #{$medium-and-up} {
    padding-top: 3%;
  }
}

.quote-boba {
    max-width: 55%;
    left: 2%;
    padding-top: 9%;
  
    @media #{$medium-and-up} {
      padding-top: 3%;
    }
  }

.quote-elena {
  // right: 4%;
  // padding-top: 80% * 0.6;
  // width: 45%;
  // z-index: 1;
  position: relative;
  padding-right: 4%;
  margin-top: 48.5%;
  max-width: 49%;
  margin-bottom: 5%;
  // align-self: flex-end;

  @media #{$medium-and-up} {
  }
}
