
.group-max {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .absolute {
    padding-top: 90%;
    @media #{$medium-and-up} {
    }
  }
}

/* Elements */

.art-elena {
    max-width: 36%;
    right: 17%;
    margin-top: 0%;

    @media #{$medium-and-up} {
    }
}

.art-bobacupcake {
    max-width: 36%;
    left: 1%;
    margin-top: -15%;

    @media #{$medium-and-up} {
    }
}

.quote-elena {
    max-width: 47%;
    right: 5%;
    margin-top: 37%;

    @media #{$medium-and-up} {
    }
}

.quote-bobacupcake {
    max-width: 38%;
    left: 2%;
    margin-top: 12%;

    @media #{$medium-and-up} {
    }
}

.art-max {
    max-width: 50%;
    left: -6%;
    margin-top: 38%;

    @media #{$medium-and-up} {
    }
}

.quote-max {
    position: relative;
    max-width: 39%;
    margin-right: 27%;
    margin-top: 61%;

    @media #{$medium-and-up} {
    }
}