.group-jacob {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .absolute {
    padding-top: 42%;
    @media #{$medium-and-up} {
      padding-top: 42%;
    }
  }
}

.art-jacob {
  max-width: 50%;
  left: -1%;
  margin-top: 10%;

  @media #{$medium-and-up} {
    max-width: 42%;
    left: 7%;
    margin-top: 3%;
  }
}

.quote-jacob {
//   max-width: 60%;
//   right: 2%;
//   margin-top: 15% * 0.6;

  position: relative;
  padding-right: 2%;
  margin-top: 10%;
  max-width: 60%;
  margin-bottom: 5%;

  @media #{$medium-and-up} {
  }
}
