.group-jens {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .absolute {
    padding-top: 60%;
    @media #{$medium-and-up} {
    }
  }
}

.art-wakingoni {
  max-width: 37%;
  left: -2%;
  padding-top: 13%;

  @media #{$medium-and-up} {
  }
}

.art-jens {
  max-width: 31%;
  left: 32%;
  padding-top: 25%;

  @media #{$medium-and-up} {
  }
}

.quote-jens {
  max-width: 55%;
  left: 2%;
  padding-top: 9%;

  @media #{$medium-and-up} {
    padding-top: 3%;
  }
}

.art-yung {
  max-width: 45%;
  right: 0%;
  padding-top: 8%;
  
  @media #{$medium-and-up} {
  }
}



.art-dbar {
  max-width: 14%;
  left: 10%;
  padding-top: 53%;

  @media #{$medium-and-up} {

  }
}

.quote-thomas {
  // right: 4%;
  // padding-top: 80% * 0.6;
  // width: 45%;
  // z-index: 1;
  position: relative;
  padding-right: 4%;
  margin-top: 48.5%;
  max-width: 49%;
  margin-bottom: 5%;
  // align-self: flex-end;

  @media #{$medium-and-up} {
  }
}
