.group-patt {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
//   margin-top: 20px;
//   border-top: 1px solid black;

  .absolute {
    padding-top: 110%;
    @media #{$medium-and-up} {
      padding-top: 90%;
    }
  }
}

.art-maddhattpatt {
  max-width: 50%;
  right: -1%;
  padding-top: 0%;

  @media #{$medium-and-up} {
    max-width: 42%;
    right: 7%;
    padding-top: 0%;
  }
}

.art-amandine {
  max-width: 50%;
  left: 0%;
  padding-top: 99% * 0.6;

  @media #{$medium-and-up} {
    max-width: 45%;
    left: 4%;
    padding-top: 79% * 0.6;
  }
}

.quote-wakingoni {
  max-width: 60%;
  left: 2%;
  padding-top: 15% * 0.6;

  @media #{$medium-and-up} {
  }
}

.art-katie-alpha {
  max-width: 50%;
  left: 0%;
  padding-top: 35% * 0.6;

  @media #{$medium-and-up} {
    max-width: 45%;
    left: 5%;
    padding-top: 15% * 0.6;
  }
}

.quote-amandine {
  // right: 4%;
  // padding-top: 80% * 0.6;
  // width: 45%;
  // z-index: 1;
  position: relative;
  padding-right: 4%;
  margin-top: 48.5%;
  max-width: 49%;
  margin-bottom: 5%;
  // align-self: flex-end;

  @media #{$medium-and-up} {
  }
}
