.group-reizoukin {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 17%;

  .absolute {
    padding-top: 100%;
    @media #{$medium-and-up} {
    }
  }
}

/* Elements */

.art-snowyowl {
  max-width: 40%;
  right: 3%;
  margin-top: -2%;

  @media #{$medium-and-up} {
    max-width: 37%;
    right: 10.5%;
    margin-top: -6%;
  }
}

.quote-reizoukin {
  //   max-width: 47%;
  //   right: 5%;
  //   margin-top: 37%;

  max-width: 53%;
  left: 2%;
  margin-top: 12%;

  @media #{$medium-and-up} {
    max-width: 38%;
    left: 2%;
    margin-top: 12%;
  }
}

.quote-snowyowl {
  //   max-width: 38%;
  //   left: 2%;
  //   margin-top: 12%;

  max-width: 63%;
  right: 4%;
  margin-top: 52%;

  @media #{$medium-and-up} {
    max-width: 47%;
    right: 5%;
    margin-top: 37%;
  }
}

.quote-emmyshuno {
  position: relative;
  max-width: 55%;
  margin-right: 7%;
  margin-top: 104%;

  @media #{$medium-and-up} {
    max-width: 39%;
    margin-right: 27%;
    margin-top: 61%;
  }
}

.art-reizoukin {
  //   max-width: 21%;
  //   margin-top: 55%;
  //   right: 10%;

  //   max-width: 36%;
  //   right: 17%;
  //   margin-top: 0%;

  max-width: 46%;
  left: 6%;
  margin-top: -14%;

  @media #{$medium-and-up} {
    max-width: 39%;
    left: 4%;
    margin-top: -12%;
  }
}

.art-tooki {
  max-width: 35%;
  left: 0%;
  margin-top: 44%;

  @media #{$medium-and-up} {
    max-width: 31%;
    left: 14%;
    margin-top: 26%;
  }
}

.art-emmyshuno {
  //   max-width: 34%;
  //   margin-top: 42%;
  //   left: 43%;

  //   max-width: 50%;
  //   left: -6%;
  //   margin-top: 38%;

  max-width: 34%;
  left: 1%;
  margin-top: 110%;

  @media #{$medium-and-up} {
    max-width: 28%;
    left: -2%;
    margin-top: 52%;
  }
}
