.group-kuki {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  .absolute {
    padding-top: 130%;
    @media #{$medium-and-up} {
    }
  }
}

/* Elements */

.art-fuzzypear {
  max-width: 38%;
  margin-top: 8%;
  right: 2%;

  @media #{$medium-and-up} {
    max-width: 34%;
    margin-top: 8%;
    right: 3%;
  }
}

.art-ryan {
  max-width: 35%;
  margin-top: 58%;
  left: -3%;

  @media #{$medium-and-up} {
    max-width: 33%;
    margin-top: 43%;
    left: 10%;
  }

  img {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
  }
}

.quote-kuki {
  max-width: 49%;
  margin-top: 27%;
  left: 8%;

  @media #{$medium-and-up} {
    max-width: 41%;
    margin-top: 27%;
    left: 11%;
  }
}

.quote-ryan {
  max-width: 64%;
  margin-top: 63%;
  right: 3%;

  @media #{$medium-and-up} {
    right: initial;
    max-width: 52%;
    margin-top: 59%;
    left: 44%;
  }
}

.quote-esmmazing {
  position: relative;
  max-width: 57%;
  margin-top: 127%;
  margin-left: 1%;

  @media #{$medium-and-up} {
    max-width: 52%;
    margin-top: 97%;
    margin-left: 0;
  }
}

.art-kuki {
  max-width: 34%;
  margin-top: 4%;
  left: 13%;

  @media #{$medium-and-up} {
    max-width: 34%;
    margin-top: 4%;
    left: 13%;
  }
}

.art-mango {
  max-width: 30%;
  margin-top: 105%;
  right: 8%;

  @media #{$medium-and-up} {
    max-width: 30%;
    margin-top: 95%;
    right: 8%;
  }
}

.art-painterpaw {
  max-width: 32%;
  margin-top: 99%;
  left: 3%;

  @media #{$medium-and-up} {
    max-width: 26%;
    margin-top: 74%;
    left: 0;
  }
}

.art-esmmazing {
  max-width: 43%;
  margin-top: 134%;
  right: 0%;

  @media #{$medium-and-up} {
    max-width: 39%;
    margin-top: 69%;
    right: 17%;
  }
}
