.group-jacob {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .absolute {
    padding-top: 42%;
    @media #{$medium-and-up} {
      padding-top: 42%;
    }
  }
}

.art-jacob {
  max-width: 53%;
    left: -2%;
    margin-top: 14%;

  @media #{$medium-and-up} {
    max-width: 46%;
    left: 0%;
    margin-top: 0%;
  }
}

.quote-jacob {
//   max-width: 60%;
//   right: 2%;
//   margin-top: 15% * 0.6;

  position: relative;
  padding-right: 2%;
  margin-top: 13%;
  max-width: 52%;
  margin-bottom: 5%;
  
  @media #{$medium-and-up} {
    max-width: 54%;
  }
}
