@import "common";

.art-wrapper {
  // pointer-events: none;
}
.art-wrapper,
.quote-wrapper {
  position: absolute;
  top: 0;
  visibility: hidden;
}

@import "group_jacob";
@import "group_patt";
@import "group_jens";
@import "group_zugai";
@import "group_max";
@import "group_bradman";
@import "group_danny";
@import "group_derek";
@import "group_star";
@import "group_kuki";
@import "group_andy";
@import "group_drawkin";
@import "group_reizoukin";
@import "_group_silkira";