@import 'style/common';

body {
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  color: #24292e;
  font-family: $fontstack;
  font-size: 14px;
  line-height: 1.5;
  background-color: $primary;
  background-color: black;
}

.section {
}

.container {
  // display: block;
  // margin: 0 auto;
  // max-width: 1280px;
  // min-height: 1000px;
  // background-color: $primary;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: Platform Web, $fontstack;
  font-style: normal;
  font-stretch: normal;
  font-feature-settings: "liga", "kern";
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-family: Platform Web, $fontstack;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.75em;
}

ol,
p,
ul {
}

a {
}

// p {
//   font-family: Proxima Nova Web, $fontstack;
//   color: rgba(80, 50, 50, 0.75);
//   font-size: 16px;
//   line-height: 24px;
// }

a:hover {
  cursor: pointer;
}

b {
  font-weight: 700;
}

.parallax-container.banner {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 450px;

  i {
    font-size: 30px;
    margin-left: 5px;
  }

  h1 {
    width: 300px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 88px;
    margin: 30px 0 0 0;
  }

  .secondary {
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    width: auto;
    display: inline-block;
    font-size: 25px;
    font-family: "Lato", $fontstack;
    margin-top: 10px;

    @media #{$medium-and-up} {
      margin-top: 20px;
    }
  }

  .wg {
    font-style: italic;
    color: #bfe8e4;
  }

  .glumberland {
    font-style: italic;
    color: #febebe;
  }
}

main {
  background-color: $primary;
  // background-color: rgba(0, 0, 0, 0.1);
  // display: flex;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  overflow: visible;

  padding: 0 0 120px;

  @media #{$large-and-up} {
    padding: 0 80px 120px;
  }
}

.art-group {
  //display: flex;
  position: relative;
  width: 100%;
  //border-top: 1px solid #333;
}
.art-wrapper {
  .art {
    max-width: 100%;
    height: auto;
  }
}

.quote-wrapper {
  .quote-card {
    overflow: auto;
    background: white;
    padding: 0 8px 0 0px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  
    @media #{$large-and-up} {
      padding: 5px 45px;
    }
  }
}

.aesthetic {
  font-weight: 900;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: auto;
  font-style: italic;
  box-decoration-break: clone;
  /* font-size: 1.5em; */
}


blockquote {
  position: relative;
  z-index: 5;
  font-family: Proxima Nova Web, $fontstack;
  border-left: 3px solid $secondary;
  color: rgba(0, 0, 0, 0.75);

  //font-weight: 400
  // font-size: 1.25em;
  // line-height: 24px;
  margin: 10px 0;
  font-size: 12px;
  padding-left: 26px;
  padding-top: 5px;

  @media #{$w400-and-up} {
    font-size: 14px;
    padding-left: 32px;
  }

  @media #{$large-and-up} {
    margin: 20px 0;
    font-size: 16px;
    padding-left: 32px;
    padding-top: 5px;
  }

  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;

  p {
    margin: 0;
    margin-bottom: 5px;
  }

  &:before {
    content: "";
    display: none;

    @media #{$large-and-up} { 
      display: block;
      position: absolute;
      top: 50%;
      background-color: #ffffff;
      z-index: 1;
      left: -6px;
      height: 2.5em;
      width: 8px;
      margin-top: -1.25em;
    }
  }

  &:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23#{$svgfill}" d="M96.4 416h77.1l50.9-96.6V96h-160v223.4h77.1L96.4 416zm224 0h77.1l50-96.6V96H288.4v223.4h82l-50 96.6z"/></svg>');
    position: absolute;
    line-height: 1em;
    text-indent: -2px;
    color: $secondary;
    font-style: normal;
    text-align: center;
    transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
    z-index: 2;
    width: 1.5em;

    left: 7px;
    top: 0;
    opacity: 0.5;
    margin-top: 0;


    @media #{$large-and-up} {
      opacity: 1;
      margin-top: -0.75em;
      top: 50%;
      left: -0.75em;
    }
  }

  &:active:after {
    transform: rotateY(360deg);
  }

  cite {
    position: relative;
    z-index: 5;
    display: block;
    font-style: normal;
    font-weight: 100;

    margin-left: 0px;
    margin-top: 0px;
    font-size: 16px;

    @media #{$large-and-up} {
      margin-top: 5px;
      margin-left: 0px;
      font-size: 22px;
    }

    .dash {
    }
    .name {
      color: #888;
      //color: #fb9d9e;
      //color: darken($secondary, 20%)

      //color: darken(#BFE8E4, 20%);
    }
  }
}
